# Tuple

<p align="center">
  <img width="550" height="300" src="https://realpython.com/cdn-cgi/image/width=960,format=auto/https://files.realpython.com/media/Mutable-and-Immutable-Data-Types-in-Python_Watermarked.2566c67a719d.jpg">
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type in Python</th>
      <th>Description</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tuples</td>
      <td>tuple</td>
      <td>Comma-separated ordered immutable sequence of objects in parentheses ( ).</td>
      <td>(10,'hello', 15.9)</td>  
    </tr>
  </tbody>
</table>

In [1]:
type((23, 98.3, 'hello'))

tuple

If you try to define a tuple with one item.

In [48]:
type((2))

int

To tell Python that you really want to define a singleton tuple, include a trailing comma (,) just before the closing parenthesis.

In [49]:
type((2,))

tuple

This is another way to define a tuple's items.

In [52]:
x1, x2, x3 = 4, 5, 6
t = x1, x2, x3
print(t)
type(t)

(4, 5, 6)

tuple

In [2]:
a = ['one', 23, 98.3, 'hello']

## Built-in List Functions

##### len()

Python's built-in len() function counts all of the items are in the sequence of the tuple.

In [3]:
len(a)

4

## List Indexing and Slicing

In [4]:
print(a)

['one', 23, 98.3, 'hello']

Elements in a tuple can be accessed individually by using square brackets and an index, just like accessing individual characters in a string. All lists, tuples, and strings indexing indexing follow a zero-based approach.

<p align="center">
  <img width="550" height="300" src="https://files.realpython.com/media/t.eb0b38e642c5.png">
</p>

In [5]:
#Grab element at index 0
a[0]

'one'

In [6]:
#Grab index 1 and everything past it
a[1:]

[23, 98.3, 'hello']

In [7]:
#Grab everything UP TO index 3
a[:2]

['one', 23]

In [8]:
a[2:len(a)]

[98.3, 'hello']

Negative list indexing allows counting from the end of the tuple.

<p align="center">
  <img width="550" height="300" src="https://files.realpython.com/media/t.c11ea56e8ca2.png">
</p>

In [9]:
a[-1]

'hello'

In [10]:
a[:-3]

['one']

[start:stop:step]

- start: numerical index for the slice index
- stop: index you will go up to but not include
- step: the size of jump you take

In [11]:
a[::2]

['one', 98.3]

You can specify a negative step value as well, in which case Python steps backward through the tuple. In that case, the starting/first index should be greater than the ending/second index.

In [12]:
a

['one', 23, 98.3, 'hello']

In [13]:
a[4:0:-2]

['hello', 23]

This is a common paradigm for reversing a tuple.

In [14]:
a[::-1]

['hello', 98.3, 23, 'one']

## Lists Properties

##### Ordered

A tuple in Python is not just a collection of objects; it is an ordered collection where the sequence in which elements are specified upon list creation becomes an inherent characteristic of that tuple, preserved throughout its lifetime.

In [15]:
a = ('one', 23, 98.3, 'hello')

b = (23, 98.3, 'one', 'hello')

In [16]:
a is b

False

In [17]:
a == b

False

##### Immutability

Tuples are immmutable meaning that when a tuple is created, the elements within it cannot be changed or replaced.

This is the biggest difference between Tuples and Lists.

In [18]:
a

('one', 23, 98.3, 'hello')

In [19]:
a[0] = 2

TypeError: 'tuple' object does not support item assignment

In [20]:
a.append('new')

AttributeError: 'tuple' object has no attribute 'append'

In [26]:
a = a + ('new')

TypeError: can only concatenate tuple (not "str") to tuple

In [21]:
a.remove('one')

AttributeError: 'tuple' object has no attribute 'remove'

Nothing can be added/removed/replaced in tuples unlike lists.

In [30]:
del a[0]

TypeError: 'tuple' object doesn't support item deletion

##### Repetition

We can use the multiplication symbol to create repetition.

In [28]:
a * 2

('one', 23, 98.3, 'hello', 'one', 23, 98.3, 'hello')

## List Operators

##### in

Python also provides a membership operator that can be used with tuples. The in operator returns True if the first operand is contained within the second, and False otherwise.

In [29]:
'one' in a

True

## Built-in Tuple Methods

<table>
  <thead>
    <tr>
      <th>Method</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>index(m,a(optional),b(optional))</td>
      <td>the index of first occurrence of m for a given substring indicated by a and b</td>
    </tr>
    <tr>
      <td>count(m,a(optional),b(optional))</td>
      <td>number of occurrences of m within the substring indicated by a and b</td>
    </tr>             
  </tbody>
</table>

In [35]:
a.index(23)

1

In [36]:
a.count('one')

1

To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenient source of data integrity.

## Nesting Tuples

In [40]:
b = ([1,'hello'], (26.3, 56))

In [44]:
b[0][1]

'hello'

In [47]:
b[1][1]

56