# Set

<p align="center">
  <img width="550" height="300" src="https://realpython.com/cdn-cgi/image/width=960,format=auto/https://files.realpython.com/media/Sets-in-Python_Watermarked.cd8d2e9563c3.jpg">
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type in Python</th>
      <th>Description</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sets</td>
      <td>set</td>
      <td>unordered collection of unique elements.</td>
      <td>{10, 'hello'}</td>  
    </tr>
  </tbody>
</table>

We can define a set with the built-in set() function.

In [1]:
a = set()

In [2]:
type(a)

set

In [3]:
# We add to sets with the add() method
a.add(89)
a.add('hello')
a.add(2.0)

In [4]:
a

{2.0, 89, 'hello'}

## Sets Properties

##### Unique Elements

In [5]:
#Create a list with repeats
lst = [1,1,2,2,3,4,5,6,1,1]

In [6]:
#Cast as set to get unique values
set(lst)

{1, 2, 3, 4, 5, 6}

After converting the list to set with set() function, only unique items have remained. That's because a set is only concerned with unique elements.

##### Unordered

In [7]:
a = set()

a.add(89)
a.add('hello')
a.add(2.0)

In [8]:
b = set()

b.add('hello')
b.add(2.0)
b.add(89)

In [9]:
print('a:', a)
print('b:', b)

a: {89, 2.0, 'hello'}
b: {89, 2.0, 'hello'}

In [10]:
a == b

True

## Sets Operators

In [11]:
c = set()

c.add('world')
c.add('20')
c.add(89)

##### Union

Sets union can be performed with the | operator.

In [12]:
a | c

{2.0, '20', 89, 'hello', 'world'}

##### Intersection

Sets intersection can be performed with the & operator.

In [13]:
a & c

{89}

##### Difference

a - c return the set of all elements that are in a but not in c

In [14]:
a - c

{2.0, 'hello'}

##### Symmetric Difference

return the set of all elements in either sets.

In [15]:
a ^ c

{2.0, '20', 'hello', 'world'}

##### Subset

In [16]:
d = set()
d.add('hello')

d <= a

True

##### Proper Subset

A proper subset is the same as a subset, except that the sets can’t be identical.

While a set is considered a subset of itself, it is not a proper subset of itself.

In [17]:
a < a

False

##### Superset

Set a is considered as the superset of b, if all the elements of set b are the elements of set a.

In [18]:
a >= d

True

##### Proper Superset

A proper superset is the same as a superset, except that the sets can’t be identical.

In [19]:
a > d

True

## Built-in Set Methods

<table>
  <thead>
    <tr>
      <th>Method</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>union(sets)</td>
      <td>merge sets and keep unique elements from all sets</td>
    </tr>    
    <tr>
      <td>intersection(sets)</td>
      <td>return the set of elements present in all sets</td>
    </tr>
    <tr>
      <td>difference(set)</td>
      <td>x1.difference(x2) return the set of all elements that are in x1 but not in x2</td>
    </tr> 
    <tr>
      <td>symmetric_difference(set)</td>
      <td>return the set of all elements in either sets</td>
    </tr>
    <tr>
      <td>isdisjoint(set)</td>
      <td>determines whether or not two sets have any elements in common. returns True if they have no elements in common</td>
    </tr>
    <tr>
      <td>issubset(set)</td>
      <td>determine whether one set is a subset of the other</td>
    </tr>
    <tr>
      <td>issuperset(set)</td>
      <td>set a is considered as the superset of b, if all the elements of set b are the elements of set a</td>
    </tr>
    <tr>
      <td>update(set)</td>
      <td>adds any elements in new set that our set does not already have</td>
    </tr>
    <tr>
      <td>intersection_update(set)</td>
      <td>retain only elements found in both</td>
    </tr>
    <tr>
      <td>difference_update(set)</td>
      <td>it's like difference method except it updates the original set</td>
    </tr> 
    <tr>
      <td>symmetric_difference_update(set)</td>
      <td>it's like symmetric difference method except it updates the original set</td>
    </tr>
    <tr>
      <td>add(set)</td>
      <td>add an item to the set</td>
    </tr>
    <tr>
      <td>remove(m)</td>
      <td>remove m from the set</td>
    </tr>
    <tr>
      <td>discard(m)</td>
      <td>remove m from the set. However, if m is not in set, discard does nothing instead of raising an exception</td>
    </tr> 
    <tr>
      <td>pop()</td>
      <td>removes a random element from the set</td>
    </tr>
    <tr>
      <td>clear()</td>
      <td>removes all elements from the set</td>
    </tr>      
  </tbody>
</table>

<p align="center">
  <img width="300" height="100" src="https://files.realpython.com/media/t.ca57b915cec6.png">
</p>

In [20]:
a.union(c)

{2.0, '20', 89, 'hello', 'world'}

There is a subtle difference between | operator and .union(). When you use the | operator, both operands must be sets. The .union() method, on the other hand, will take any iterable as an argument, convert it to a set, and then perform the union.

In [21]:
a.union(('a', 'b', 28))

{2.0, 28, 89, 'a', 'b', 'hello'}

In [22]:
a | ('a', 'b', 28)

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

<p align="center">
  <img width="300" height="100" src="https://files.realpython.com/media/t.9c6d33717cdc.png">
</p>

In [23]:
a.intersection(c)

{89}

<p align="center">
  <img width="300" height="100" src="https://files.realpython.com/media/t.a90b4c323d99.png">
</p>

In [24]:
a.difference(c)

{2.0, 'hello'}

<p align="center">
  <img width="300" height="100" src="https://files.realpython.com/media/t.604de51646cc.png">
</p>

In [25]:
a.symmetric_difference(c)

{2.0, '20', 'hello', 'world'}

In [26]:
a.isdisjoint(c)

False

In [27]:
d.issubset(a)

True

In [28]:
a.issuperset(d)

True

In [29]:
a.update(['a', 'A'])

a

{2.0, 89, 'A', 'a', 'hello'}

In [30]:
#permanently changes the set
a.intersection_update(d)

In [31]:
a

{'hello'}

In [32]:
a.remove('hello')

In [33]:
a

set()

In [34]:
a.discard('hello')

In [35]:
a.remove('hello')

KeyError: 'hello'

## Frozen Sets

Python provides another built-in type called a frozenset, which is in all respects exactly like a set, except that a frozenset is immutable.

In [36]:
x = frozenset(['a', 45, '78'])

Any attempt to modify a frozenset will fail.

In [37]:
x.add('b')

AttributeError: 'frozenset' object has no attribute 'add'